<h2 class='h3'>Email addresses:</h2>
<%= render 'email_addresses' %>

<h2 class='h3'>Phone numbers:</h2>
<%= render 'phone_numbers' %>

<h2 class='h3'>Webauthn devices:</h2>
<%= render 'webauthn_devices' %>

<h2 class='h3'>TOTP:</h2>
<p class='h4'>
  <% if @decorated_user.totp_enabled? %>
    <span class="label label-success">Enabled</span>
  <% else %>
    <span class="label label-warning">Not enabled</span>
  <% end %>
</p>

<h2 class='h3'>PIV/CAC:</h2>
<p class='h4'>
  <% if @decorated_user.piv_cac_enabled? %>
    <span class="label label-success">Enabled</span>
  <% else %>
    <span class="label label-warning">Not enabled</span>
  <% end %>
</p>
